.layui-nav {
    background-color:#fff!important;
    box-shadow:0 2px 6px 0 rgba(0,0,0,0.4) ;
}
.layui-nav .layui-nav-item a{
    color:black !important;
    font-size: 17px;
}
#top{
    position: relative;
}
#nav .nav-left{
    margin:0 30px 0 30px;
}
#nav input{
    margin-left: 250px;
    margin-right:30px;
    height:25px;
}

.second{
    position: absolute;
    top: 60px;
    left: 80px;
}
.nav_son{
    text-align: center;
}
.nav_son .layui-nav .layui-nav-item a{
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin: 0 50px 0 0;
    font-size: 14px;
}
.description .layui-textarea{
    width: 250px;
    height: 150px;
}
.per_form{
    padding: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    margin-top: 50px;
    background:rgba(0,160,216,0.4);
}
.detail{
    margin: 50px auto;
    width: 1100px;
    height: 500px;
    background-color: #01AAED;
}

